* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

body {
    height: 100vh;
    background-image: url(../../image/iPhone\ 16\ -\ 1.png);
    background-color: black;
    /* Caminho para sua imagem */
    background-size: cover;
    /* Faz com que a imagem cubra toda a área, mantendo a proporção */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    background-position: center;
}

:root{
    --white:#fff;
    --red: #E74C3C;
    --red-black: #EB001B;
    --brown-black:#3E3017;
    --brown-white:#A47E3C;
    --green:#00FF00;
}

.home img {
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




.linha{
    width: 300px; /* Largura total */
    margin-top: 30px;
    margin-left: 25px;
    height: 1px; /* Altura da linha */
    background-color: var(--white); /* Cor da linha */
}

.txt{
    display: block;
}

.txt h1{
    color: var(--white);
    font-weight: 100;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
}



.pqp{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}


.txt p{
    color: var(--white);
    font-weight: 100;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 12px;
}

.horario h2{
    color: var(--red);
    font-weight: 700;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 12px;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    cursor: pointer;
    accent-color: var(--green); /* Cor moderna suportada em navegadores recentes */
    margin-left: 30px;
    margin-top: 5px;
}

button{
    margin-top: 30px;
    padding: 1px; /* Tamanho do botão */
    width: 220px;
    font-size: 16px; /* Tamanho do texto */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Indica que é clicável */
    background: linear-gradient(to bottom, #A47E3C, #3E3017); /* Degradê */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animação suave */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.topo h1{
    color: var(--white);
    font-weight: 100;
    font-size: 18px;
}
